.progress-bar__container {
  height: 1.5rem;
  width: 50%;
  border: 2px solid black;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background: lime;
  border-radius: 1rem;
}
